.page_404 .image_404 {
    margin: 0 auto;
}

.page_404 .teal.button {
    text-align: center;
    margin:0 auto;
    width: 150px;
    display: block;
}

.page_404 h3 {
    font-weight: 400!important;
}