.trans-details .card-header {
    background: none;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    min-height: 0;
    padding: .75rem;
}

.trans-details .card {
    max-width: 1200px;
    margin: 0 auto;
    border: none;
}

.trans-details .card-body {
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #595959;
    padding: 1.25rem 0 0 0;
    position: relative;
}

.trans-details .ui.table thead th {
    color: #595959 !important;
    background-color: transparent !important;
    font-weight: 400 !important;
    border-top: none !important;
}

.trans-details #pagination-nav td {
    padding-top: 2rem;
    position: relative;
}

.trans-details #pagination-nav .pagination {
    justify-content: center;
}

.trans-details #pagination-nav .page-link {
    color: #595959;
}

.trans-details #pagination-nav .page-item.active .page-link {
    background-color: #009193;
    border-color: #009193;
    color: #fff;
}

.trans-details #maxRows {
    width: 10% !important;
}

.bootstrap-select .dropdown-menu.inner {
    display: inline;
}

.trans-details .dropdown.bootstrap-select {
    padding: .67857143em 1em;
    box-shadow: none !important;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    padding: 0px;
    width: 100% !important;
}

.trans-details .bootstrap-select .dropdown-menu li {
    padding: 8px 5px;
}

.trans-details .bootstrap-select .dropdown-menu li a {
    display: flex;
    width: 100%;
}

.trans-details .bootstrap-select .glyphicon.glyphicon-ok {
    min-width: 18px;
    height: 18px;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: 2px;
    margin-right: .6rem;
    margin-left: .25rem;
    display: inline-block;
}

.bootstrap-select.show-tick .dropdown-menu span.check-mark {
    position: relative;
    display: inline-block;
    right: 0;
    top: 0;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: relative;
    display: inline-block;
    right: 0px;
    top: 1px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark:after {
    font-family: 'FontAwesome';
    content: '\f00c';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #007bff !important;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 0px;
}

.trans-details .bootstrap-select .dropdown-menu li a {
    color: #595959;
}

#accountStatement .fa.fa-calendar {
    pointer-events: none;
}

#investsTable td.center.aligned {
    vertical-align: middle;
    white-space: nowrap;
    padding: 0;
}

#accountStatementTable {
    overflow: hidden;
}

#accountStatementTable .table thead th {
    border: none !important;
}

#accountStatementTable .table td {
    padding: .5rem;
    vertical-align: middle;
    text-align: center;
}

#accountStatementTable .details-title {
    text-align: left;
    padding-left: 1rem;
}

#accountStatementTable table td.details-content {
    text-align: left;
    padding-left: 1rem;
}

#accountStatementTable .table thead tr th:first-of-type {
    min-width: 100px;
}

#accountStatementTable .table thead tr th:last-of-type {
    min-width: 80px;
    text-align: center !important;
    padding-right: .5rem !important;
}

#accountStatementTable .table tbody tr td:first-of-type {
    text-align: left;
    padding-right: 1rem !important;
}

.account-statement-details #accountStatementTable .mobile-table-content.direction-in {
    text-align: center;
}

.card-body.float-right.investForm {
    position: absolute;
    top: 18px;
    right: 0;
}

#pagination-nav td {
    padding-top: 2rem !important;
}

.inner.open {
    padding-top: 40px;
}

.bs-actionsbox {
    position: absolute;
    top: 1px;
    background: #fff;
    z-index: 88;
}

#pagination-nav .investForm {
    display: inline-block;
    width: 12%;
    padding-top: .25rem;
}

#pagination-nav td {
    border: none !important;
    box-shadow: none !important;
}

#pagination-nav .page-item.active .page-link {
    background-color: #009193;
    border-color: #009193;
    color: #fff;
}

@media only screen and (max-width: 767.98px) {
    #accountStatement .col-lg-2.pl-3 {
        padding: 0 !important;
        margin: 1rem 0 0 0 !important;
    }

    #accountStatement .col-lg-2.pl-3.d-flex.align-items-end input {
        margin: 1rem 0 0 0 !important;
    }

    ul.nav.mt-4 {
        justify-content: space-between;
    }

    ul.nav.mt-4 .nav-link {
        padding: .5rem .35rem !important;
    }

    h2.mt-5.mb-5.text-black {
        margin: 1rem 0 .5rem 0 !important;
        padding-left: .25rem !important;
    }

    #accountStatement .card .card-header {
        padding-left: .25rem !important;
    }

    #transactionData .account-statement-details .row .col-lg-5 {
        width: 65% !important;
    }

    #transactionData .account-statement-details .row .col-lg-3 {
        width: 35%;
        margin: 0 !important;
        padding: 0 !important;
    }

    #accountStatementTable .table td {
        padding: 0.35rem !important;
        font-size: .9rem;
        vertical-align: middle;
        text-align: left;
    }

    #accountStatementTable .table thead th {
        vertical-align: middle;
        padding: .5rem;
    }

    #accountStatementTable .table thead tr th {
        min-width: initial !important;
    }

    #accountStatementTable .table-fixed thead, #accountStatementTable .table-fixed tbody, #accountStatementTable .table-fixed tr, #accountStatementTable .table-fixed td, #accountStatementTable .table-fixed th {
        display: block;
    }


    .account-statement-details #accountStatementTable .mobile-table-content.direction-in {
        padding-left: 0;
        width: 100%;
    }

    #accountStatementTable .table thead tr th:last-of-type {
        min-width: 25vw !important;
    }

    #accountStatementTable .table tbody tr td:first-of-type {
        padding-right: 0.35rem !important;
    }

    #accountStatementTable #pagination-nav td {
        padding: 2rem 0 0 0 !important;
    }

    #accountStatementTable .table thead tr th:last-of-type {
        text-align: center !important;
    }

    .account-statement-details #accountStatementTable .mobile-table-content.direction-in {
        text-align: center !important;
    }

    #accountStatement #statement-transaction-type .dropdown.bootstrap-select .dropdown-menu {
        min-height: 30vh !important;
        max-height: 60vh !important;
        padding: 0 !important;
    }

    #accountStatement #statement-transaction-type .dropdown.bootstrap-select .bs-actionsbox {
        border-bottom: 1px solid #e5e5e5;
    }

    #investsTable .mobile-table-content {
        width: 100% !important;
    }


    .card-body.float-right.investForm {
        position: initial !important;
        display: block !important;
        margin-right: 1rem !important;
    }


    #accountStatementTable #pagination-nav.invest-pagination nav {
        display: inline-block;
        width: 100% !important;
    }

    #accountStatementTable #pagination-nav .page-item:first-child .page-link,
    #accountStatementTable #pagination-nav .page-item:last-child .page-link {
        min-width: 20px;
    }

    #accountStatementTable #pagination-nav .page-link {
        min-width: 26px;
        padding: .5rem .5rem;
        font-size: 0.8rem;
    }

    #accountStatementTable .direction-out{
        padding-left: 0px;
        white-space: nowrap;
    }
}
