/* REFER-A-FRIEND PAGE */

#refer-a-friend-image-container {
    border: 0;
    background-color: #DEF1FF;
    margin-top: 0;
    box-shadow: none;
    height: auto;
}

#refer-a-friend-image-container .ui.grid.container {
    width: 75% !important;
}

#refer-a-friend-image-container .row {
    padding-bottom: 0;
}

.refer-a-friend-text-container .ui.huge.header {
    color: #3B3838;
    font-weight: 800;
    font-size: 3rem;
    margin: 0;
}

.text-black {
    color: #000 !important;
}

.refer-a-friend-text-container h3 {
    color: #3B3838;
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.refer-a-friend-text-container p {
    font-size: 1.2rem;
    margin-top: 1em;
    font-weight: 300;
    color: #595959;
    width: 100%;
    padding: 1rem 1rem 1rem 0.1em;
}

.refer-a-friend-text-container .input {
    width: 97%;
    font-size: 1.1rem;
    min-height: 50px
}

#want-to-know-more {
    background-color: #F2F2F2;
}

#want-to-know-more .bottom {
    border: none;
}

#want-to-know-more .ui.styled.accordion {
    background-color: #F2F2F2;
}

#want-to-know-more .ui.styled.accordion .title {
    border-top: none !important;
    padding-left: 0;
    color: #009193;
}

#want-to-know-more .accordion {
    width: 100%;
    box-shadow: none;
}

#want-to-know-more .grid.container {
    width: 50% !important;
    margin: 0 auto;
}

#want-to-know-more .ui.styled.accordion .content {
    padding: .5em 1em 1.5em 1.75em;
}

.step .label {
    float: left;
    font-size: 2rem;
}

.step h3.header {
    padding: 1rem;
}

#how-does-it-work-container {
    background-color: #F4F9FC;
    margin-top: -1rem;
}

#how-does-it-work-container h1 {
    color: #3B3838;
}

#how-does-it-work-container .ui.two.column {
    display: flex;
    justify-content: space-around;
}

#how-does-it-work-container .feature-block-container > p {
    text-align: left;
}

.feature-block-container {
    padding: 3rem;
}

#how-img-container .feature-block {
    border-bottom: 1px solid #009193;
    height: 70%;
}

#watering-can-img {
    position: absolute;
    left: 20%;
    bottom: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1199.97px) {

    .refer-a-friend-text-container .ui.huge.header {
        font-size: 2rem;
    }

    #refer-a-friend-image-container .ui.grid.container .row .six.wide.left.floated.column.top.aligned.refer-a-friend-text-container{
        margin-top: 0!important;
    }
}

/* REFER-A-FRIEND PAGE TABLET */

@media only screen and (max-width: 767.98px) {
    #refer-a-friend-image-container .seven.wide.column {
        display: none;
    }

    #refer-a-friend-image-container .ui.grid.container {
        width: 100% !important;
        height: 100%;
    }

    #how-img-container .feature-block {
        height: auto;
    }

    #refer-a-friend-image-container {
        height: 100%;
    }

    #refer-a-friend-image-container .row {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    #watering-can-img {
        display: none;
    }

    #how-does-it-work-container .text-green {
        width: 88%;
        padding-left: 2.5rem;
        text-align: center;
    }

    #want-to-know-more .grid.container {
        width: 50rem !important;
    }

    #want-to-know-more .ui.styled.accordion {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #create-account-input {
        margin-top: 0;
    }
}

/* REFER-A-FRIEND PAGE MOBILE */

@media only screen and (max-width: 413.98px) {
    #how-info-container .feature-block-container {
        padding: 2rem;
    }

    #watering-can-img {
        left: 16%
    }

    #want-to-know-more .ui.styled.accordion {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    #refer-a-friend-image-container {
        height: 25rem !important;
    }

    .refer-a-friend-text-container h2.ui.huge.header {
        font-size: 2.2rem;
        margin-bottom: 0;
    }

    .refer-a-friend-text-container h3.ui.huge.header {
        font-size: 2rem;
        margin-top: 0;
    }

    #how-info-container h1.huge.header {
        text-align: center;
    }
}