.icon-pencil {
    cursor: pointer;
}

.icon-pencil:hover {
    color: #0075ff;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 80px;
    height: 26px;
    background-color: #dddddd;
    border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 26px;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 24px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 60px;
}

#toggle-client .toggle {
    width: 10% !important;
    float: right;
    height: 38px!important;
}

#toggle-client .toggle.btn.btn-sm.quick .toggle-on {
    border: 1px solid #595959;
    background: #c7c7c7;
    color: #595959;
    font-size: 1rem;
    padding: .375rem .5rem;
    line-height: 1.5;
    height: 38px;
    border-radius: 3px;
}

.grid-stack-item .widget-title {
    display: none;
    position: absolute;
    right: 0px;
}

.mouse-move {
    cursor: move;
}

#ItemBox2 .payment-method {
    width: 22%;
}

#ItemBox2 #iban {
    width: 36%;
}

.client-card-10 {
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px) !important;
}

#ItemBox8 .nav-item.nav-link.loan{
    box-sizing: border-box;
}
