#how-it-works-features {
    padding-top: 1rem;
}

#how-it-works-container{
    padding-top:4rem;
}

#how-it-works-container h1.center.aligned.text-black{
    margin-bottom: 3rem;
}

#how-it-works-features h4.header {
    margin-bottom: 1rem;
}

.pusher .features-container p {
    color: #000 !important;
}

.pusher .features-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#how-it-works-features .three.column {
    justify-content: space-between;
}

#how-it-works-features .three.column .row .column {
    width: 27% !important;
    padding: 0 !important;
    margin: 0 auto;
}

#how-it-works-features .row .column:last-of-type {
    padding-right: 0 !important;
}

#how-it-works-features .large.header {
    font-size: 1.5rem;
}

#how-it-works-features .column .feature-block p {
    text-align: left;
}

#how-it-works-features .ui.two.column.container {
    margin: 3rem auto;
}

#how-it-works-features .ui.two.column.container .column {
    align-self: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#how-it-works-features h3 {
    color: #000;
}

#how-it-works-features h4.img-text-right {
    background-color: #F4F9FC;
    padding: 2.2rem 2rem 2.2rem 5rem;
    width: 80%;
    border-left: 4px solid #009193;
    font-size: 1.5rem;
    text-align: right;
    color: #000;
    float: right;
}

#how-it-works-features h4.img-text-left {
    background-color: #F4F9FC;
    padding: 2.5rem 2rem;
    width: 70%;
    border-left: 4px solid #009193;
    font-size: 1.5rem;
    text-align: right;
    color: #000;
    float: left;
}

.ui.header > .image:not(.icon), .ui.header > img {
    width: 5em;
    margin-top: -.5rem;
}

#how-it-works-features img.small {
    position: absolute;
    left: 11rem;
    top: 3.5rem;
    width: 4em;
}

#how-it-works-features .three.column {
    border: 1px solid rgb(0 0 0 / 0.05);
    border-radius: 1rem !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    padding: 3rem 1.5rem;
    width: 100% !important;
    max-width: 1200px !important;
}

.pusher .features-container:last-of-type, #how-it-works-features {
    padding-bottom: 0;
}

#your-money-is-safe {
    margin-bottom: 5rem;
}

#how-it-works-features .three.column .row {
    display: flex;
}

#boost-your-sales .two.column .column:last-of-type {
    padding: 0 !important;
    width: 40%;
}

#boost-your-sales .two.column .column:last-of-type img {
    width: 40%;
}

#your-money-is-safe {
    padding-top: 0;
}

#your-money-is-safe .two.column .column img {
    width: 40%;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800 !important;
}

#boost-your-sales .two.column .column:first-of-type {
    padding: 0 !important;
    width: 50%;
    padding-right: 5rem !important;
}

#boost-your-sales .two.column .column:first-of-type .feature-block .left.aligned {
    text-align: right;
}

#boost-your-sales .two.column .column h3, #your-money-is-safe .two.column .column h3 {
    color: #009193;
}

#boost-your-sales .two.column {
    width: 100% !important;
    max-width: 1200px !important;
    padding: .5rem;
    justify-content: flex-start;
}


@media screen and (min-width: 768px) and (max-width: 1199.97px) {

    #help-container .ui.three.column.stackable.left.aligned.grid.container, #help-container .ui.vertical.segment.stackable.left.aligned.grid.container {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}


@media only screen and (max-width: 767.98px) {
    #how-it-works-features h4.img-text-right {
        width: 100%;
        font-size: 1.2rem;
    }

    #how-it-works-features {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #how-it-works-features .three.column .row .column {
        width: 100% !important;
        display: block;
        padding-bottom: 3rem !important;
    }

    #how-it-works-features .three.column .row .column:last-of-type {
        padding-bottom: 0rem !important;
    }

    #boost-your-sales .two.column .column:first-of-type {
        padding: 0 !important;
    }

    #boost-your-sales .two.column .column:first-of-type .feature-block .left.aligned {
        text-align: center !important;
    }

    #boost-your-sales .two.column .column:last-of-type img {
        width: 60%;
        margin: 0 auto;
        padding-top: 3rem;
    }

    #boost-your-sales {
        padding-bottom: 0;
        padding-top: 0;
    }

    #your-money-is-safe .two.column {
        display: table;
    }

    #your-money-is-safe .two.column .column:first-of-type {
        display: table-footer-group;
    }

    #your-money-is-safe .two.column .column:first-of-type img {
        width: 60%;
        margin: 0 auto;
    }

    #your-money-is-safe .two.column .column:last-of-type .feature-block .left.aligned {
        text-align: center !important;
    }

    .star-loan {
        display: none !important;
    }

}