#tableSt .available-loans-table.ui.table {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 3rem auto;
    border: none !important;
    padding: 0;
}

#tableSt .available-loans-table.ui.table td {
    padding: 0;
    vertical-align: middle;
}

.available-loans-table.ui.table td {
    padding: 0;
    vertical-align: middle;
}

.ui.table {
    color: #595959;
}

.ui.table thead th {
    color: #595959 !important;
    background-color: transparent !important;
    font-weight: 400 !important;
    border-top: none !important;
}

#tableSt .ui.table thead th {
    padding: 1rem !important;
    max-width: 1200px;
    width: 1200px;
}

.available-loans-container {
    padding-bottom: 0 !important;
    padding-top: 5rem !important;
}

.available-loans-container.invest-page-front-end {
    padding-top: 4rem !important;
}

.available-loans-container .button {
    margin: .5em auto;
    text-align: center;
    width: 10em;
    max-width: 123px;
    display: block;
    padding: 0.7em 1em;
}

.available-loans-container .invest-all-button {
    float: right;
    width: 144px;
}

.available-loans-container #investForm .form-row {
    margin: 0;
}

.available-loans-container #investForm .form-row > .col, .form-row > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.available-loans-container #see-all-btn {
    width: 15%;
    max-width: 200px;
    margin-top: 2em;
    padding: 1em;
}

.country-flag-circle {
    width: 28px !important;
    height: 28px !important;
    border-radius: 16px;
    border: 1px solid #eaeaea;
    margin-right: .5rem;
}

#tableSt .available-loans-table.ui.table tbody tr td:first-child {
    text-align: center;
}

.table-country-name {
    display: none;
}

#tableSt .available-loans-table.ui.table .button {
    width: 10em;
    max-width: 123px;
    font-size: 1em;
    font-weight: 400;
    margin-right: 0;
}

#pagination-nav {
    margin-top: 2rem;
}

#pagination-nav .pagination {
    justify-content: center;
}

#pagination-nav td {
    padding-top: 2rem;
}

#pagination-nav .page-link {
    color: #595959;
}

#pagination-nav .page-item.active .page-link {
    background-color: #009193;
    border-color: #009193;
    color: #fff;
}

.available-loans-container .card {
    max-width: 1200px;
    margin: 0 auto;
    border: none;
}

.available-loans-container .card.mt-5.mb-5 {
    border: none;
}

.available-loans-container .card-header {
    font-size: 1rem;
    background: none;
    padding: .75rem;
}

.available-loans-container .card-body {
    font-size: 1rem;
    font-weight: 500;
    color: #595959;
    padding: 1.25rem 0;
}

.available-loans-container .col-lg-6 .card-body {
    padding: 0 .75rem;
}


.available-loans-container .card-body .form-check {
    display: inline-block;
}

/*.available-loans-container .card-body .form-check-label, .available-loans-container.invest-page-front-end #investForm .card-body .form-check-label {*/
/*    line-height: 2;*/
/*    background: #fff;*/
/*    border: 1px solid #d4d4d5;*/
/*}*/

/*#my-investments-container.available-loans-container .card-body .form-check-label, .available-loans-container #investForm .card-body .form-check-label {*/
/*    line-height: 1;*/
/*    background: #fff;*/
/*    border: 1px solid #d4d4d5;*/
/*}*/
#my-investments-container .portfolio-ranges-wrapper .ui.checkbox label {
    font-size: 0.92rem;
    margin-right: 10px;
}

#my-investments-container .portfolio-ranges-wrapper .ui.checkbox:last-child label {
    margin-right: 0;
}

.ui.checkbox {
    line-height: 21px;
}

.ui.checkbox .box:before, .ui.checkbox label:before {
    width: 20px !important;
    height: 20px !important;
}

.ui.checkbox input:checked ~ .box:before, .ui.checkbox input:checked ~ label:before {
    background: #007bff !important;
    border-color: #ced4da !important;
    color: #fff !important;
    width: 20px !important;
    height: 20px !important;
}

.ui.checkbox .box, .ui.checkbox label {
    font-size: 1rem;
}

.ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after {
    opacity: 1;
    color: #fff !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 17px !important;
    top: -1px;
}

.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after {
    top: 1px !important;
    left: 0;
    width: 18px !important;
    height: 18px !important;
    transform: scale(.45) !important;
    border-radius: 500rem;
    background-color: #fff !important;
}

.available-loans-container .ui.basic.button.btn-filter-clear {
    border: none;
    box-shadow: none !important;
    width: 40%;
    padding-right: 0;
    color: #0070C0 !important;

}

.available-loans-container .btn-filter-submit {
    width: 50%;
}

.available-loans-container .clearGroupFilter {
    position: absolute;
    top: 7%;
    right: 0;
    color: #0070C0 !important;
    text-align: right;
}

.table-invest-link {
    color: #0070C0 !important;
}

.invest-page-front-end h3.large.header {
    margin-top: 0;
}

.invest-page-front-end h1.huge.header {
    margin-bottom: 0;
}

.available-loans-container .form-check {
    margin-right: 1.5rem;
    margin-top: 0.1rem;
}

.available-loans-container .datepicker {
    padding: .375rem .75rem;
}

.available-loans-container .col-lg-3.mt-3 .card-body, .available-loans-container .col-lg-9 .card-body {
    padding: 0 0 1.25rem .75rem;
}

.available-loans-container .form-control {
    width: 88%;
    margin: 0 auto;
}

.available-loans-container .minimalistic-table .invest-all-form .form-control {
    margin: .5em auto;
    width: 45%;
    max-width: 144px;
}

.available-loans-container .minimalistic-table .invest-all-form .ui.teal.button {
    width: 100%;
    max-width: 144px;
}

.available-loans-container .overview-card .card-header {
    background: none;
    display: inline-block;
    width: 100%;
}

.noHover:hover {
    background: #ffffff;
    color: #6c757d;
    border-color: #6c757d;
    cursor: progress;
}

.trans-details {
    font-weight: 600;
}

.copy-to-clipboard .bi.bi-clipboard {
    fill: #6c757d;
}

.copy-to-clipboard.iscopy .bi.bi-clipboard {
    fill: green;
}

#tableSt.minimalistic-table #tableSt .available-loans-table.ui.table #investsTable tr td a {
    padding: .78571429em 1.5em .78571429em;
}

#table-invests th a {
    font-size: 0.85rem;
    padding: 0.25rem 2rem;
}

#table-invests th {
    font-weight: 500;
}

.w100 {
    width: 100% !important;
}

.filter-cards-style .card-header {
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    min-height: 0;
}

.minimalistic-table table.available-loans-table {
    border: none !important;
    box-shadow: none !important;
}

.check-box-w20 {
    width: 20px;
    height: 20px;
    background-color: #0a1520;
}

.filter-cards-style .card-body {
    height: 100%;
}

.available-loans-container h2 {
    text-align: center;
}

#tableSt .mobile-table-title {
    display: none;
}

#tableSt .available-loans-table.ui.table.loans-table-mobile {
    display: none;
}

.sorting > input {
    width: 1px;
    height: 1px;
    border: none;
    position: absolute;
    top: -10px;
    left: -4px;
    padding: 0;
}

th.sorting {
    position: relative;
    cursor: pointer !important;
    overflow: hidden;
}

th.sorting > i.fa {
    display: none;
}

.sorting > input {
    width: 1px;
    height: 1px;
    border: none;
    position: absolute;
    top: -10px;
    left: -4px;
    padding: 0;
}

th.sorting {
    position: relative;
    cursor: pointer !important;
    overflow: hidden;
}

th.sorting > i.fa {
    display: none;
}

th.sorting.active-sort i.fa {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    font-size: 1.2rem;
    right: 10%;
    top: 40%
}

#myInvestmentsTable th.sorting.active-sort i.fa {
    right: 2%;
}

#createdFromDatepicker input.form-control, #createdToDatepicker input.form-control {
    background-color: #fff !important;
}

#createdFromDatepicker .fa.fa-calendar, #createdToDatepicker .fa.fa-calendar {
    position: absolute;
    right: 5%;
    top: 30%;
    pointer-events: none;
}

#table-invests .mobile-table-title, #myInvestmentsTable .mobile-table-title {
    display: none;
}

#myInvestmentsTable .invest-form {
    margin: 0;
}

#myInvestmentsTable form.invest-form > input {
    width: 64% !important;
    padding: .67857143em 0 .67857143em 14px;
    text-align: center;
}

#myInvestmentsTable .investment-isOnCard .form-control.single-amount {
    color: rgba(34, 36, 38, .25);
}

#myInvestmentsTable .investment-isOnCard .form-control.single-amount:focus {
    color: #000000;
}

#myInvestmentsTable form.invest-form > button.button {
    width: 34% !important;
}

#myInvestmentsTable .hide-sell-finish > button {
    margin: 0 auto
}

#myInvestmentsTable .hide-sell-finish-all {
    position: relative;
}

#tableInvestBody {
    position: relative;
}

.remove-all-from-cart {
    position: absolute;
    right: -25px;
    top: 25px;
    color: red;
    font-weight: bolder;
    cursor: pointer;
}

#investForm .col-lg-6.mt-3.pl-3.pr-1 {
    padding-left: 0 !important;
}


#pagination-nav td {
    border: none !important;
    box-shadow: none !important;
}

#pagination-nav.invest-pagination-front-end nav {
    display: inline-block !important;
    width: auto !important;
}

#pagination-nav.invest-pagination-front-end .investForm {
    display: inline-block;
    width: auto !important;
    min-width: 108px;
    padding-top: .25rem;
}

.market-tabs {
    color: #000;
    font-size: 1.13rem;
    font-weight: 400;
    padding-bottom: 5px;
    cursor: pointer;
}

.market-tabs.active {
    border-bottom: 1px solid #000;
}

#myInvestmentsTable.secondary-market-cart #table-myInvests tr td.center.aligned.term-col {
    min-width: 70px !important;
    max-width: 70px !important;
    padding: 0px !important;
}

#myInvestmentsTable.secondary-market-cart #table-myInvests tr td.center.aligned.interest-rate {
    min-width: 70px !important;
    max-width: 70px !important;
    padding: 0px !important;
}

#myInvestmentsTable.secondary-market-cart tr th.interest-rate {
    min-width: 110px !important;
    max-width: 110px !important;
    padding: 0px !important;
}

.secondary-market-cart-tooltip {
    color: #c9c9c9;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block !important;
}

.secondary-market-cart .form-control.principal,
.secondary-market-cart .form-control.price {
    text-align: center;
    padding-right: 5px;
}

.minus, .plus {
    width: 20px;
    height: 34px;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.form-control.premium.text-center {
    height: 34px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {

    #investForm .col-lg-3.pl-3:first-of-type {
        padding-left: 0 !important;
    }

}

@media only screen and (max-width: 991.98px) {

    .hide-on-tablet {
        display: none !important;
    }

}

/* INVEST PAGE TABLET-MOBILE */

@media only screen and (max-width: 767.98px) {

    #tableSt .available-loans-table.ui.table.loans-table-mobile {
        display: inline-block;
        max-width: 95%;
    }

    .hide-on-mobile {
        display: none !important;
    }

    #table-invests .mobile-table-title, #myInvestmentsTable .mobile-table-title {
        display: inline-block;
    }

    #tableSt .available-loans-table.ui.table .button {
        width: 100%;
        max-width: 144px;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
        border-bottom: 1px solid #e8e8e8;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    #tableSt .available-loans-table.ui.table th, #tableSt .available-loans-table.ui.table tr, #tableSt .available-loans-table.ui.table td {
        box-shadow: none !important;
        border: none;

    }

    #tableSt .available-loans-table.ui.table thead tr {
        display: inline-block !important;
        width: 60% !important;
        float: left;
    }

    #tableSt .available-loans-table.ui.table thead tr th {
        text-align: left;
        font-weight: 400;
    }

    #tableSt .available-loans-table.ui.table thead tr th:last-child {
        display: none !important;
    }

    #tableSt .available-loans-table.ui.table .country-flag-circle {
        width: 16px !important;
        height: 16px !important;
        vertical-align: top;
    }

    #tableSt .available-loans-table.ui.table td {
        padding: 0 .78571429em;
    }

    #tableSt .available-loans-table.ui.table tbody tr td {
        font-size: 1rem;
        font-weight: 400;
    }

    .table-country-name {
        display: inline-block !important;
        font-size: 1em;
        font-weight: 400;
        margin: 0;
    }

    .available-loans-container #see-all-btn {
        width: 30%;
    }

    .loans-table-mobile.available-loans-table .mobile-table-body tr td {
        width: 45% !important;
        display: inline-block !important;
    }

    .loans-table-mobile.available-loans-table .mobile-table-body tr td {
        width: 49% !important;
        display: inline-block !important;
    }

    .ui.table:not(.unstackable) tr {
        display: inline-block !important;
    }

    .available-loans-container .loans-table-mobile.inside-table-mobile .mobile-table-body tr {
        margin: 0 auto;
        width: 100% !important;
        font-size: .95rem;
    }

    .available-loans-container .loans-table-mobile.available-loans-table .mobile-table-body tr td.left {
        font-size: .9rem;
    }

    .ui.table:not(.unstackable) tr > td, .ui.table:not(.unstackable) tr > th {
        padding: 0 !important;
    }

    .mobile-homepage-btn-invest {
        text-align: center;
        border-bottom: 1px solid #e8e8e8;
        padding: 0 !important;

    }

    .mobile-homepage-btn-invest td {
        width: 100% !important;
    }

    .ui.table:not(.unstackable) tr {
        padding: .3em 0;
    }

    #investForm .form-row .col-lg-3, #investForm .col-lg-6 {
        padding-right: 1rem !important;
    }


    #investForm .form-row .col-lg-3.pl-3 .form-check {
        margin-right: 1rem !important;
    }

    #investForm .col-lg-3.pl-3 {
        padding-right: 1rem !important;
    }

    #investForm .form-row .col-lg-3.my-auto {
        margin-left: auto;
        margin-top: 3rem !important;
    }

    #tableSt {
        margin: 1rem !important;
        padding-top: 1rem;
        text-align: center;
    }

    #tableSt .inside-table-mobile {
        border: none;
    }

    #tableSt .available-loans-table.ui.table .inside-table-mobile .button {
        width: 100%;
        max-width: 144px;
        margin: 1rem auto 2.5rem auto;
        height: auto;
        font-size: 1rem;
        padding: 0.7em 1em;
    }

    #tableSt .available-loans-table.ui.table tbody tr td:first-child {
        font-weight: 700;
    }

    #tableSt .single-invest-button {
        display: flex;
        margin: 0.5em 0px 0.5em 0.5em !important;
    }

    #tableSt .mobile-table-content .country-flag-circle {
        width: 16px !important;
        height: 16px !important;
        vertical-align: top;
        margin-right: 5px !important;
        margin-top: 1px !important;
    }

    #tableSt {
        margin-top: 5rem;
    }

    #tableSt thead {
        display: none;
    }

    #tableSt #tableInvestBody tr {
        width: 100% !important;
    }

    #tableSt tr td {
        margin-bottom: .5rem !important;
        padding: 0;
    }

    #tableSt .country-name-mobile {
        display: inline-block;
    }

    #tableSt .country-flag-circle {
        margin-right: .5rem;
    }

    #tableSt.ui.table.available-loans-table {
        max-width: none;
    }

    #tableSt .mobile-table-title {
        display: inline-block;
        text-align: left;
        width: 55%;
        font-weight: bold;
    }

    #tableSt .mobile-table-content {
        display: inline-block;
        width: 42%;
        text-align: right;
    }

    #tableSt .available-loans-table.ui.table {
        display: block;
    }

    #investForm .col-lg-6.mt-3.pl-3.pr-1 {
        padding-left: 1rem !important;
    }

    #pagination-nav .page-link {
        color: #595959;
        min-width: 26px;
        padding: .5rem .5rem;
        font-size: 0.8rem;
    }

    #pagination-nav .page-item:first-child .page-link, #pagination-nav .page-item:last-child .page-link {
        min-width: 20px;
    }

    #pagination-nav.myinvest-pagination nav {
        display: inline-block;
        width: 100%;
    }

    #pagination-nav.invest-pagination nav {
        display: inline-block;
        width: 100% !important;
    }


    #myInvestmentsTable.secondary-market-cart #table-myInvests tr td.center.aligned.term-col {
        min-width: auto !important;
        max-width: none !important;
        padding: 0px !important;
    }

    #myInvestmentsTable.secondary-market-cart #table-myInvests tr td.center.aligned.interest-rate {
        min-width: auto !important;
        max-width: none !important;
        padding: 0px !important;
    }

    #myInvestmentsTable.secondary-market-cart tr th.interest-rate {
        min-width: auto !important;
        max-width: none !important;
        padding: 0px !important;
    }
}
