body {
    color: #000 !important;
}

.ui {
    font-size: 1rem;
}

.ui.huge.header {
    font-size: 1.71428571rem;;
}

.ui.grid.container {
    width: 100% !important;
    max-width: 1200px !important;
}

#create-account-input .ui.huge.header {
    font-size: 2em;
}

#loan-originators-container .stackable.container h1, #loan-originators-container .stackable.container .eight.wide.column {
    padding: 0;
}

#loan-originators-container .stackable.container .ui.medium.rounded.image {
    width: 30%;
    padding: 1rem 0;
}

.pusher .features-container {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

#loan-originators-container .three.column {
    border: 1px solid rgb(0 0 0 / 0.05);
    border-radius: 1rem !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    padding: 1.5rem;
    width: 100% !important;
    max-width: 1200px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}


#loan-originators-about h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

#loan-originators-about h2 {
    padding: 3rem 0 0 1.5rem;
    font-size: 1.5rem;
}

#loan-originators-about .nine.wide.column.left {
    margin-right: auto;
}

#loan-originators-about .five.wide.column.right {
    margin-left: auto;
    padding-right: 0;
}

#loan-originators-about .five.wide.column.right a {
    display: block;
    padding: .25rem 0;
}

#loan-originators-container a {
    color: #0070C0 !important;
}

#company-stats .seven.left.aligned {
    padding-left: 1.5rem;
}

#company-stats .seven.right.aligned {
    margin-left: auto;
    padding-right: 1.5rem;
}

#company-stats .mobile-table-title {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: left;
    margin: .25rem 0;
    padding: .25rem 0;
}

#company-stats .mobile-table-content {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: right;
    margin: .25rem 0;
    padding: .25rem 0;
}

.border-bottom {
    border-bottom: 1px solid rgb(0 0 0 / 0.05) !important;
    display: flex;
    align-items: center;
    width: 100%;
}

.ui.seven.wide.column.aligned div:last-of-type {
    border-bottom: none !important;
}

@media screen and (min-width: 768px) and (max-width: 1199.97px) {
    .ui.vertical.segment {
        padding-left: 0;
        padding-right: 0;
    }

    #loan-originators-container .ui.stackable.grid.container.heading-container{
        padding-left: .5rem;
    }
    #loan-originators-container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 767.98px) {
    #loan-originators-container {
        padding-top: 3rem !important;
    }

    #loan-originators-container .ui.stackable.grid h1.left.aligned {
        text-align: center !important;
    }

    #loan-originators-container .stackable.container .ui.medium.rounded.image {
        margin: 0 auto;
        padding: 1rem 0 !important;
    }

    #loan-originators-container .ui.eight.wide.column {
        padding: 0 !important;
    }

    #loan-originators-about {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #loan-originators-about .row .five.right.aligned {
        margin-top: 2rem !important;
        padding-left: 0 !important;
    }

    #loan-originators-about .row .five.right.aligned, #loan-originators-about .row .five.right.aligned h3 {
        text-align: left !important;
    }

    #company-stats {
        margin-top: 3rem;
    }

    #company-stats .ui.seven.wide.left {
        margin-bottom: 2rem !important;
    }
}
