/* GLOBAL FONT & COLOR OVERRIDE */

.ui {
    font-family: 'Nunito Sans' !important;
    /*font-family: 'Montserrat' !important;*/
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito Sans' !important;
    /*font-family: 'Montserrat' !important;*/
    color: #595959;
}

/* GLOBAL PRIMARY BUTTON COLOR & FONT */

.ui.teal.button {
    background-color: #009193;
}

.button {
    font-weight: 400 !important;
    border-radius: .38571429rem !important;
}

/* DEFAULT SEMANTIC CSS */

.ui.menu.fixed {
    position: fixed;
    z-index: 101;
    margin: 0em;
    width: 100%;
}

.ui.menu.fixed,
.ui.menu.fixed .item:first-child,
.ui.menu.fixed .item:last-child {
    border-radius: 0px !important;
}

.ui.fixed.menu,
.ui[class*="top fixed"].menu {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
}

.ui[class*="top fixed"].menu {
    border-top: none;
    border-left: none;
    border-right: none;
}

.ui[class*="right fixed"].menu {
    border-top: none;
    border-bottom: none;
    border-right: none;
    top: 0px;
    right: 0px;
    left: auto;
    bottom: auto;
    width: auto;
    height: 100%;
}

.ui[class*="bottom fixed"].menu {
    border-bottom: none;
    border-left: none;
    border-right: none;
    bottom: 0px;
    left: 0px;
    top: auto;
    right: auto;
}

.ui[class*="left fixed"].menu {
    border-top: none;
    border-bottom: none;
    border-left: none;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    width: auto;
    height: 100%;
}

/* Coupling with Grid */

.ui.fixed.menu + .ui.grid {
    padding-top: 2.75rem;
}

.ui.secondary.pointing.menu {
    min-height: 50px;
    border: none;
}

.ui.secondary.pointing.menu .item {
    margin: auto 0;
    font-weight: 400;
}

.masthead.segment {
    padding: 0 !important;
    width: 100%;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}
