.clients-list {
    position: absolute;
    font-weight: 100;
    top: 70px;
    font-family: 'Arial',
    monospace;
    line-height: 3;
    color: #a7adaf;
    border-radius: 11px !important;
    box-shadow: 5px 5px 18px #e9e9e9, 5px 5px 18px #e5e5e5;
}

.clients-list a {
    width: 100%;
    display: block !important;
    color: #a7adaf;
}

.clients-list a:hover {
    color: #848a8c !important;
}

.alert-dismissible .close {
    padding: 0.3rem 0.5rem;
}

.alert-danger {
    position: absolute;
    padding: 20px 30px 20px 20px;
    color: white;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 20%;
    max-width: 50%;
    top: 0;
}

.display-flex {
    display: flex;
}

.live-search-city .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.live-search-city .dropdown-toggle {
    background: #fff;
}

.button-bottom-bar {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #fff;
    z-index: 9;
    padding: 10px 35px 10px 10px;
    width: calc(100% - 260px);
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
    -webkit-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
    -moz-box-shadow: 0 3px 9px 0 rgba(169, 184, 200, .15);
}

.button-bottom-bar .btn {
    padding: .5rem 5rem;
    float: right;
}

.btn.btn-collapse {
    border: 1px solid #595959;
    background: #fff;
    color: #595959;
    font-size: 1rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    height: 38px;
    border-radius: 3px;
}

.btn.btn-collapse .fa.fa-play.font-10 {
    float: right;
    line-height: 24px;
    font-size: 8px;
    margin-left: 10px;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.btn.btn-collapse[aria-expanded="true"] .fa.fa-play.font-10 {
    line-height: 19px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.btn.btn-collapse[aria-expanded="true"] {
    color: #fff;
    background-color: #3250e2;
    border-color: #2746e0;
}

.toggle-icon-state {
    line-height: 19px;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
}

.toggle-icon-open {
    line-height: 19px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
