
.ui.yellow.label, .ui.yellow.labels .label {
    background-color: #FFC000 !important;
    border-color: #FFC000 !important;
}

.ui.input:not([class*="left action"]) > input:focus {
    border: 1px solid #b8b8b8;
}

input[type=text]:placeholder {
    color: #cccccc;
}

input:focus::-webkit-input-placeholder {
    color: #cccccc;
}

/* Firefox < 19 */
input:focus:-moz-placeholder {
    color: #cccccc;
}

/* Firefox > 19 */
input:focus::-moz-placeholder {
    color: #cccccc;
}

/* Internet Explorer 10 */

input:focus:-ms-input-placeholder {
    color: #cccccc;
}

.ui.fixed.main-fixed > .ui.container {
    width: 1200px;
}

.ui.vertical.segment {
    border: none;
}

.button {
    letter-spacing: 0.5px;
}

.text-left {
    text-align: left;
}

.img-column {
    display: flex !important;
    align-items: center !important;
}

.ui.menu .item:before {
    display: none;
}

.main-fixed {
    background-color: #FFFFFF !important;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) !important;
    position: fixed !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important;

}

.main-fixed .item {
    font-size: 1rem;
}

.main-fixed .logo-home img {
    width: 75%;
}

.main-fixed .right.menu .item {
    padding: 0 !important;
    margin-left: 0.5em;
}

#fixed-main-menu {
    display: flex;
    margin: 0 auto;
}

#fixed-main-menu .item {
    font-weight: 500;
    color: #595959;
}

.masthead {
    position: relative;
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    -webkit-transition: 1s all ease !important;
    -moz-transition: 1s all ease !important;
    transition: 1s all ease !important;
    z-index: 4;
}

#top-header .button {
    padding-bottom: 1em;
    padding-top: 1em;
}

#top-header {
    background-color: #fff;
    width: 100%;
}

#top-header .menu {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#top-header .img-no-border {
    border: none;
}

#top-header .logo-home {
    height: 4em;
}

#nav-container {
    width: 100%;
    background-color: #ff7e79
}

#nav-container .secondary-menu-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#nav-container .secondary-menu-container a {
    letter-spacing: 0.5px;
    transition: 0.1s;
    color: #ffffff;
}

#nav-container .secondary-menu-container a:hover {
    transition: 0.1s;
    border-bottom: 1px solid #fff;
}

#nav-container .secondary-menu-container a:active {
    transition: 0.1s;
    border-bottom: 1px solid #fff;
}

.pusher .features-container h1 {
    margin: 0 auto 1em auto;
    color: #595959;
}

.pusher .features-container p {
    color: #595959;
}

.pusher .features-container {
    padding-bottom: 7em;
    padding-top: 7em;
}

#create-account-input {
    width: 100%;
    display: block;
    padding: 7em;
    margin: 0 auto;
    background-color: #F4F9FC;
}

#create-account-input input {
    width: 30%;
    max-width: 450px;
    display: block;
    margin: 2em auto 0 auto;
}

#create-account-input .button {
    margin: 1em auto;
    display: block;
    width: 30%;
    max-width: 450px;
}

#footer-inverted a.item {
    line-height: 2rem;
}

#footer-inverted {
    background-color: #595959;
    padding-bottom: 0;
}

#footer-inverted .company-info, #footer-inverted .features-container p {
    color: rgba(255, 255, 255, .5) !important;
}

#footer-inverted .features-container {
    padding-top: 3em;
    padding-bottom: 2em;
}

#footer-inverted .footer-anchor {
    color: rgba(255, 255, 255, .5);
}

#footer-inverted .footer-anchor:hover {
    color: #fff;
}

#footer-inverted .copyright-text {
    border-top: 1px solid rgba(255, 255, 255, .1) !important;
    padding-top: 1rem;
    width: 100%;
}

.logo-svg {
    width: 118px;
    height: auto;
}

.logo-svg-sidebar {
    max-width: 118px;
    padding-right: 1rem;
    margin-left: -1%;
    padding-left: 0!important;
}

.no-box {
    box-shadow: none !important;
}

#header-container .desktop-register {
    padding-bottom: 0.8em;
    padding-top: 0.8em;
}

#top-header .mobile-login, .mobile-table-head {
    display: none;
}

.feature-block {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

#create-account-input h5 {
    color: #595959;
}

#top-header .button.mobile-register {
    display: none;
}
